<!DOCTYPE html>
<html>
<head>
  <title>API Playground</title>
  <link rel="stylesheet" href="/public/css/reset.css" />
  <link rel="stylesheet" href="/public/css/api.css" />
</head>
<body>
  <div id="container">

    <img id="logo" alt="The API Playground" src="/public/images/logo.png" width="550" height="199" />

    <h2>
      Helping journalists understand, browse and toy with API data.
    </h2>

    <p>
      Huge amounts of data are available online via APIs, but often in forms that
      aren't viewable by non-technical folks. This tool lets you play with examples 
      from a handful of popular APIs.
    </p>
    
    <p>
      <a href="javascript:$('#explanation').show();">What exactly is an API?</a>
    </p>
    
    <p id="explanation" style="display:none;">
      <b>API</b> stands for "Application Programming Interface." 
      Often, an API is a way to get content from one website 
      (say, the New York Times, or Flickr) onto another (say next to your article) 
      automatically, without copying and pasting. A way to do that is by 
      feeding the API the text of your article or its keywords, and seeing what 
      related content you get back. It's also a way of building applications 
      such as iPhone apps, with other websites' content. For more information
      on APIs, read the 
      <a href="http://en.wikipedia.org/wiki/Api">Wikipedia entry</a>.
    </p>

    <div id="controls">
      <label for="picker">
        Select an API:
      </label>
      <select id="picker">
        <option value="guardian">The Guardian</option>
        <option value="zemanta">Zemanta</option>
        <option value="opencongress">OpenCongress</option>
        <option value="truveo">Truveo</option>
        <option value="googlemaps">Google Maps</option>
        <option value="oilreporter">Oil Reporter</option>
        <option value="twitter">Twitter</option>
      </select>
      <img src="/public/images/spinner.gif" id="spinner" style="display:none;" />
    </div>

    <p id="description"></p>

    <div id="box_label"></div>

    <div id="text_container">
      <textarea id="text"></textarea>
      <input type="text" id="line" />
    </div>

    <div id="go" class="minibutton">Search the API</div>
    <br class="clear" />

    <div id="results"></div>

  </div>

  <script src="/public/js/jquery-1.3.2.js"></script>
  <script src="/public/js/underscore-1.0.2.js"></script>
  <script src="/public/js/api.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

</body>
</html>
