body {
  font-size: 62.5%;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.4em;
  line-height: 1.5em;
  margin: 1.5em 0 0.5em 0;
}
  h1 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
  }

a {
  cursor: pointer;
  color: #536eac;
  text-decoration: none;
}
  a:hover {
    color: #000055;
  }

p {
  margin: 0 0 1em 0;
  width: 650px;
}

label {
  font-weight: bold;
  font-size: 0.85em;
}

.clear {
  clear: both;
}

#container {
  position: relative;
  font: 1.4em/1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  margin: 50px 50px 50px 50px;
  color: black;
}
  #controls {
    margin-top: 2em;
    margin-bottom: 1em;
  }
    #box_label {
      width: 650px;
    }
    #picker {
      margin: 0 1em 0 1em;
    }
  #text, #line {
    line-height: 1.5em;
    padding: 0.5em;
    width: 650px;
    display: none;
    margin: 0.5em 0 1em;
  }
    body.text_mode #text, body.line_mode #line {
      display: inline;
    }
    #text {
      height: 200px;
      display: none;
    }
  #results {
    margin: 2em 0 0 0;
  }
    #map {
      height: 400px;
    }
    #results table {
      width: 100%;
      font-size: 0.8em;
      line-height: 1.4em;
      border-left: 1px solid #C1DAD7;
    }
      #results th {
        font-weight: bold;
        color: #333;
        border: 1px solid #d0d0d0;
        border-left: 0;
        background: #d7d7d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
        background: -moz-linear-gradient(top, #ffffff, #d0d0d0);
        padding: 6px 6px 6px 12px;
      }
      #results td {
        vertical-align: middle;
        max-width: 425px;
        border-right: 1px solid #C1DAD7;
      	border-bottom: 1px solid #C1DAD7;
      	background: #fff;
      	padding: 6px 6px 6px 12px;
      	color: #333;
      	overflow: hidden;
      }
        #results td p {
          width: auto;
        }

.minibutton {
  float: left;
  cursor: pointer;
  color: #fff;
  text-shadow: #aaa 0 -1px 0;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  padding: 5px 10px 6px;
  height: 11px;
  text-align: center;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  box-shadow: 0 1px 2px #c4c4c4; -webkit-box-shadow: 0 1px 2px #c4c4c4; -moz-box-shadow: 0 1px 2px #c4c4c4;
  border: 1px solid #b2b2b2; border-top-color: #c9c9c9; border-bottom-color: #9a9a9a;
  background: url(/public/images/button_bg.gif) repeat-x left top;
}
  .minibutton:active {
    position: relative;
    box-shadow: 0 0 1px #c4c4c4; -webkit-box-shadow: 0 0 1px #c4c4c4; -moz-box-shadow: 0 0 1px #c4c4c4;
    top: 1px;
  }
  .minibutton::selection, .minibutton > span::selection {
    background: transparent;
  }